.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 0rem;
    position: static;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .3rem;
    text-transform: uppercase;
    border-radius: .6rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.boton-carrito.active {
        background-color: var(--clr-white);
        color: var(--clr-main);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        position: relative;
        margin-bottom: 1rem;
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.acciones-usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#boton-logout {
    background-color: transparent;
    border: 2px solid var(--clr-white);
    color: var(--clr-white);
    padding: .5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color .2s, color .2s;
    text-transform: uppercase;  
}

#boton-logout:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);
}